<a href="https://colab.research.google.com/github/sebaluzio/BTE-320-PYTHON/blob/main/assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In-class assignment #1

In [ ]:
pi=3.14
radius= float(input("please provide the radius: "))
height = float(input("please provide the height: "))

area = 2*pi*radius**2+2*pi*radius*height

print(area)
print(f"area= {area]} sq. ft.7")
type(area)

please provide the radius: 7
please provide the height: 78
3736.6000000000004
area= 3736.6000000000004 sq. ft.7

float

In-class assignment #2

In [ ]:
number_1= float(input("please provide first number: "))
number_2= float(input("please provide second number: "))
symbol= input("please put an operator")

if symbol == "+":
  print(f"{number_1}+{number_2} = {number_1 + number_2}")
elif symbol == "-":
  print(f"{number_1}-{number_2}) = {number_1 - number_2}")
elif symbol == "/":
    print(f"{number_1}/{number_2} = {number_1 / number_2}")
elif symbol == "*":
    print(f"{number_1}*{number_2} = {number_1 * number_2}")
elif symbol == "**":
    print(f"{number_1}**{number_2} = {number_1 ** number_2}")
elif symbol == "%":
    print(f"{number_1}%{number_2} = {number_1 % number_2}")
elif symbol == "//":
    print(f"{number_1}//{number_2} = {number_1 // number_2}")
else:
    print("invalid operator")

please provide first number: 6
please provide second number: 9
please put an operator?
invalid operator

In-class assignment #3

In [ ]:
for number_hours in range (1,9):
  fee= 5+2.5*(number_hours)
  if fee<10.0:
    fee=10.0
  elif fee>20.0:
    fee=20.0
  print(number_hours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In-class assignment #4

In [ ]:
print ('Ad$\t', 'profit')
for ad_money in range (0,201,25):
  revenue= (20+2*round(ad_money**0.5))*10
  cost=200+ad_money
  profit= revenue-cost
  print(ad_money, '\t', profit)

Ad$	 profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In-class assignment #5

In [ ]:
import random

play= input("do you want to play a game (yes/no)?")

while play == "yes":
  p1 = input("player 1- choose between rock/paper/scissors:")
  p2 = random.choice(["rock", "paper", "scissors"])

  print(f'player choose {p1}; computer choose {p2}')

  if p1==p2:
    print ("draw")
  elif (p1== "rock" and p2== "scissors") or (p1== "paper" and p2== "rock") or (p1== "scissors" and p2== "paper"):
    print ("player 1 wins")
  else:
    print ("player 2 wins")

  play = input("do you want to play a game  of rock paper scissors (yes/no)?")
print ("good day ...")

do you want to play a game (yes/no)?yes
player 1- choose between rock/paper/scissors:rock
player choose rock; computer choose paper
player 2 wins
do you want to play a game  of rock paper scissors (yes/no)?no
good day ...

In-class assignment #5

In [ ]:
import random

play = input('do you want to play a game of rock paper scissors (yes/no)? ')

while play == 'yes':
  player1 = input('player , please select rock, paper, or scissors: ').capitalize()
  player2 = random.choice(['rock', 'paper', 'scissors']).capitalize()


  print(f'player chooses {player1}; computer chooses {player2}')

  if player1 == player2:
    print('it is a tie')
  elif player1 == 'rock' and player2 == 'scissors':
    print('player wins')
  elif player1 == 'paper' and player2 == 'rock':
    print('player wins')
  elif player1 == 'scissors' and player2 == 'paper':
    print('player wins')
  else:
    print('computer wins')

  play = input('do you want to play another game of rock paper scissors (yes/no)? ')
print('Have a good day!')

do you want to play a game of rock paper scissors (yes/no)? yes
player , please select rock, paper, or scissors: scissors
player chooses Scissors; computer chooses Rock
computer wins
do you want to play another game of rock paper scissors (yes/no)? yes
player , please select rock, paper, or scissors: paer
player chooses Paer; computer chooses Rock
computer wins
do you want to play another game of rock paper scissors (yes/no)? yes
player , please select rock, paper, or scissors: paper
player chooses Paper; computer chooses Scissors
computer wins
do you want to play another game of rock paper scissors (yes/no)? yes
player , please select rock, paper, or scissors: rock
player chooses Rock; computer chooses Rock
it is a tie
do you want to play another game of rock paper scissors (yes/no)? yes
player , please select rock, paper, or scissors: rock
player chooses Rock; computer chooses Scissors
computer wins
do you want to play another game of rock paper scissors (yes/no)? no
Have a good day!

In-class assignment #6

In [ ]:
LIST=[]

NUMBERS= float(input('give a number:'))

while NUMBERS!= 0.0:
  LIST.append(NUMBERS)
  NUMBERS= float(input('give a number:'))
LIST.sort(reverse=True)
print(LIST)

give a number:5
give a number:5
give a number:0
[5.0, 5.0]

In-class assignment #7

In [ ]:
months= {}

names= ['jan','feb','mar','april','may','jun','jul','aug','sep','oct','nov','dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]]= names[idx]
print(months)

{1: 'jan', 2: 'feb', 3: 'mar', 4: 'april', 5: 'may', 6: 'jun', 7: 'jul', 8: 'aug', 9: 'sep', 10: 'oct', 11: 'nov', 12: 'dec'}

In [ ]:
months= {}

names= ['jan','feb','mar','april','may','jun','jul','aug','sep','oct','nov','dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

cntr = 0
for num in numbers:
  months[num] = names[cntr]
  cntr +=1
months

{1: 'jan',
 2: 'feb',
 3: 'mar',
 4: 'april',
 5: 'may',
 6: 'jun',
 7: 'jul',
 8: 'aug',
 9: 'sep',
 10: 'oct',
 11: 'nov',
 12: 'dec'}

In [ ]:
months= {}

names= ['jan','feb','mar','april','may','jun','jul','aug','sep','oct','nov','dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num]=names[num-1]
months

{1: 'jan',
 2: 'feb',
 3: 'mar',
 4: 'april',
 5: 'may',
 6: 'jun',
 7: 'jul',
 8: 'aug',
 9: 'sep',
 10: 'oct',
 11: 'nov',
 12: 'dec'}

In-class assignment #8

In [ ]:
counts={}

while len(counts)< 5:
  key = input('given a string: ')

  if key not in counts:
    counts[key]=1
  else:
    counts[key]+=1
print(counts)

given a string: 1
given a string: 32
given a string: 4
given a string: 5
given a string: 3
{'1': 1, '32': 1, '4': 1, '5': 1, '3': 1}

In-class assignment #9

In [ ]:
def calcFee(hours):
  fee= 5+2.5*(hours)
  if fee<10.0:
    fee=10.0
  elif fee>20.0:
    fee=20.0
  print(f'fee:{fee}$')
  return

def main():
  numHours= int(input('enter number of hours:'))
  calcFee(numHours)

main()

enter number of hours:69
fee:20.0$

In-class assignment #10

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    #return s[-1] + reverse(s[:-1])
    #return s[-1] + reverse(s[1:-1]) + s[0]
    return reverse(s[1:]) + s[0]

reverse('Hello')

'olleH'

In-class assignment #11

In [2]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f'Fee: {fee}$')
  return

def main():
  try:
    numHours = int(input('Enter number of hours:'))
    calcFee(numHours)
  except ValueError:
    print('Cannot cast to int().')
  except:
    print('Uknown error...')

if __name__ == '__main__':
  main()

Enter number of hours:4
Fee: 15.0$

In-class assignment #12

In [5]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input('Enter weight:'))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print(f'List {alist} is empty!')

if __name__ == '__main__':
  try:
    n = int(input('Enter size of the list:'))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print('Input cannot be casted as an int()')

Enter size of the list:3
Enter weight:176
Enter weight:164
Enter weight:180
The average weight is: 180.0

In-class assignment #13

In [6]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self, formal=False):
    if formal:
      print(f'Hi {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return f'{self.first}, {self.last}'

greeting = Greeting('Donald', 'Becker')
greeting.display(formal=True)
print(greeting)

Hi Donald Becker
Donald, Becker

In-class assignment #14

In [7]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course in self.courses:
      print(f'You have already enrolled in {course}')
    else:
      self.courses.append(course)

  def get_courses(self):
    return self.courses

student1 = Student("James Bond", "007")
student2 = Student("Clark Kent", "333")

print(student1.name)
print(student2.name)

James Bond
Clark Kent

In [10]:
student1.enroll("BTE320")

You have already enrolled in BTE320

In [9]:
#testing for courses enrolled with method get_courses
student1.get_courses()

['BTE320']

In-class assignment #15

In [11]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self,other):
    return math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)

In [12]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0,0)
    self.c2 = Point(0,2)
    self.c3 = Point(2,0)
    self.c4 = Point(2,2)
    self.width = self.calculate_width()
    self.height = self.calculate_height()

  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_height(self):
    return self.c3.distance(self.c4)

  def area(self):
    return self.width * self.height

square = Rectangle()
square.area()

4.0