<a href="https://colab.research.google.com/github/sebaluzio/BTE-320-PYTHON/blob/main/assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi=3.14
radius= float(input("please provide the radius: "))
height = float(input("please provide the height: "))

area = 2*pi*radius**2+2*pi*radius*height

print(area)
print(f"area= {area]} sq. ft.7")
type(area)

please provide the radius: 7
please provide the height: 78
3736.6000000000004
area= 3736.6000000000004 sq. ft.7

float

2 class assignment:

In [ ]:
number_1 == 6
number_2== 9
symbol= input("please put a symbol")
if symbol== "*":
  print(number1*number2)
elif symbol== "+":
  print(number1+number2)
elif symbol== "-":
  print(number1-number2)
elif symbol== "/":
  print(number1/number2)

NameError: name 'number_1' is not defined

In [ ]:
number_1= float(input("please provide first number: "))
number_2= float(input("please provide second number: "))
symbol= input("please put an operator")

if symbol == "+":
  print(f"{number_1}+{number_2} = {number_1 + number_2}")
elif symbol == "-":
  print(f"{number_1}-{number_2}) = {number_1 - number_2}")
elif symbol == "/":
    print(f"{number_1}/{number_2} = {number_1 / number_2}")
elif symbol == "*":
    print(f"{number_1}*{number_2} = {number_1 * number_2}")
elif symbol == "**":
    print(f"{number_1}**{number_2} = {number_1 ** number_2}")
elif symbol == "%":
    print(f"{number_1}%{number_2} = {number_1 % number_2}")
elif symbol == "//":
    print(f"{number_1}//{number_2} = {number_1 // number_2}")
else:
    print("invalid operator")

please provide first number: 6
please provide second number: 9
please put an operator?
invalid operator

In class-assignment #3:

In [7]:
for number_hours in range (1,9):
  fee= 5+2.5*(number_hours)
  if fee<10.0:
    fee=10.0
  elif fee>20.0:
    fee=20.0
  print(number_hours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

stop value at 9 because the last number is not included. No need to put step.

---



---



---

Movie theater- initial problem
for loop, use range functions, 25 intervals. People attending the movie = 20+2* dollars of advertisement squared

In [13]:
print ('Ad$\t', 'profit')
for ad_money in range (0,201,25):
  revenue= (20+2*round(ad_money**0.5))*10
  cost=200+ad_money
  profit= revenue-cost
  print(ad_money, '\t', profit)

Ad$	 profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80