<a href="https://colab.research.google.com/github/sebaluzio/BTE-320-PYTHON/blob/main/classwork_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi=3.14
radius= float(input("please provide the radius: "))
height = float(input("please provide the height: "))

area = 2*pi*radius**2+2*pi*radius*height

print(area)
print(f"area= {area]} sq. ft.7")
type(area)

please provide the radius: 7
please provide the height: 78
3736.6000000000004
area= 3736.6000000000004 sq. ft.7

float